@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-prompt), sans-serif;
}